.navbar {
    padding: 72px 290px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    &__menu {
        cursor: pointer;
        ul {
            width: 45px;
            display: flex;
            flex-wrap: wrap;
        } 
        li {
            transition: 0.1s;
            background-color:#B7BBB2; 
            margin: 5px 5px 0 0;
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 100%;
        }
        &:hover {
            li {
                background-color:#a9aba7; 
            } 
        }
    }
    &__house {
        cursor: pointer;
    }
}