.potted-cacti {
    padding: 194px 420px 42px 105px;
    position: relative;
    display: flex;
    background-color: #4A4A4A;
    justify-content: space-between;
    &__media {
        margin-top: 475px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__wrapper {
        width: 443px;
        display: flex;
        flex-direction: column;
    }
    &__header {
        font-size: 81px;
        line-height: 100px;
        font-family: 'Work Sans';
        letter-spacing: 10px;
        color: #FFFFFF;
    }
    &__descr {
        font-family: 'Mukta Vaani';
        font-size: 24px;
        line-height: 35px;
        text-align: justify;
        color: #FFFFFF;
    }
    &__line {
        margin-top: 29px;
        border: 2px solid #FFFFFF;
    }
    &__flowers {
        position: absolute;
        transform: translateX(-120%);
    }
    &__icon-media {
        cursor: pointer;
    }
    &__arrow {
        right: 0;
        transform: translateX(-200%) translateY(150%);
        position: absolute;
        width: 100px;
        height: 100px;
        cursor: pointer;
        &::before {
            transition: 0.1s;
            content: "";
            display: inline-block;
            transform: rotate(-45deg) translateX(-50%) translateY(1500%);
            height: 4px;
            width: 50px;
            background-color: #fff;
        }
        &::after {
            content: "";
            transition: 0.1s;
            position: absolute;
            display: inline-block;
            transform: rotate(45deg) translateX(15%) translateY(1100%);
            height: 4px;
            width: 50px;
            background-color: #fff;
        }
        &:hover {
            &::before {
                background-color: #a9aba7;
            }
            &::after {
                background-color: #a9aba7;
            }
        }
    }
}