* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import "__navbar.scss";
@import "__pool.scss";
@import "__header.scss";
@import "__potted-cacti.scss";
@import "__footer.scss";
@import "__view-gallery.scss";

